body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.characters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (max-width: 770px) {
	.characters{
   		width: 98%;
      }
}

@media screen and (max-width: 620px) {
	.characters{
   		width: 100%;
      }
}

div:hover{
  background-color: var(--teal);
}
