/* The colors used include:
    - teal
    - rgb alpha value of the color above
*/

/* Add your code here */

table,tr{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color:cadetblue;
    color: white;
    text-align: center;
}
tr:hover{
    background-color: rgb(131, 226, 218);
}

.ID-block, .year-block{
    text-align: center;
}

.name-block, .author-block{
    padding-left: 10px;
}

th, td{
    padding-top: 10px;
    padding-bottom: 10px;
}
@media screen and (min-width: 480px) {
    form{
        max-width: 480px;
    }
}